h1{
    color: black;
    text-align: center;
    font-size: 120px;
}
h2{
    color: black;
    text-align: center;
    font-size:100px;
}
.parrafo{
    font-size: 50px;
    color:black;
}
div img{ 
        width: 50%;
        height: 300px;
        padding: 10%;
         
}
